4.0-Test/Integra.Service.Test/Service References/svcSoluglob_Integra/Soluglob_Integra3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AltaEmpleadoSG">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdEntrevistaCandidato" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaEmpleadoSGResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AltaEmpleadoSGResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncidenciasSG">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FechaFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncidenciasSGResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIncidenciasSGResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MovimientoEmpleadoSG">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumEmpleado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdRequisicionMovimiento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MovimientoEmpleadoSGResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MovimientoEmpleadoSGResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>