4.0-Test/Integra.Service.Test/Service References/svcSoluglob_Integra/Soluglob_Integra.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Soluglob_Integra" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58142/Soluglob_Integra.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58142/Soluglob_Integra.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58142/Soluglob_Integra.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISoluglob_Integra_AltaEmpleadoSG_InputMessage">
    <wsdl:part name="parameters" element="tns:AltaEmpleadoSG" />
  </wsdl:message>
  <wsdl:message name="ISoluglob_Integra_AltaEmpleadoSG_OutputMessage">
    <wsdl:part name="parameters" element="tns:AltaEmpleadoSGResponse" />
  </wsdl:message>
  <wsdl:message name="ISoluglob_Integra_GetIncidenciasSG_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIncidenciasSG" />
  </wsdl:message>
  <wsdl:message name="ISoluglob_Integra_GetIncidenciasSG_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIncidenciasSGResponse" />
  </wsdl:message>
  <wsdl:message name="ISoluglob_Integra_MovimientoEmpleadoSG_InputMessage">
    <wsdl:part name="parameters" element="tns:MovimientoEmpleadoSG" />
  </wsdl:message>
  <wsdl:message name="ISoluglob_Integra_MovimientoEmpleadoSG_OutputMessage">
    <wsdl:part name="parameters" element="tns:MovimientoEmpleadoSGResponse" />
  </wsdl:message>
  <wsdl:portType name="ISoluglob_Integra">
    <wsdl:operation name="AltaEmpleadoSG">
      <wsdl:input wsaw:Action="http://tempuri.org/ISoluglob_Integra/AltaEmpleadoSG" message="tns:ISoluglob_Integra_AltaEmpleadoSG_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISoluglob_Integra/AltaEmpleadoSGResponse" message="tns:ISoluglob_Integra_AltaEmpleadoSG_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIncidenciasSG">
      <wsdl:input wsaw:Action="http://tempuri.org/ISoluglob_Integra/GetIncidenciasSG" message="tns:ISoluglob_Integra_GetIncidenciasSG_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISoluglob_Integra/GetIncidenciasSGResponse" message="tns:ISoluglob_Integra_GetIncidenciasSG_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MovimientoEmpleadoSG">
      <wsdl:input wsaw:Action="http://tempuri.org/ISoluglob_Integra/MovimientoEmpleadoSG" message="tns:ISoluglob_Integra_MovimientoEmpleadoSG_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISoluglob_Integra/MovimientoEmpleadoSGResponse" message="tns:ISoluglob_Integra_MovimientoEmpleadoSG_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISoluglob_Integra" type="tns:ISoluglob_Integra">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AltaEmpleadoSG">
      <soap:operation soapAction="http://tempuri.org/ISoluglob_Integra/AltaEmpleadoSG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIncidenciasSG">
      <soap:operation soapAction="http://tempuri.org/ISoluglob_Integra/GetIncidenciasSG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MovimientoEmpleadoSG">
      <soap:operation soapAction="http://tempuri.org/ISoluglob_Integra/MovimientoEmpleadoSG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Soluglob_Integra">
    <wsdl:port name="BasicHttpBinding_ISoluglob_Integra" binding="tns:BasicHttpBinding_ISoluglob_Integra">
      <soap:address location="http://localhost:58142/Soluglob_Integra.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>