4.0-Test/Integra.Services.Test.Integra_Soluglob/Service References/svcIntegra_Soluglob/Integra_Soluglob1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AltaEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpleado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AltaEmpleadoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="compania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numEmpleado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="motivo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requisicionMovimiento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BajaEmpleadoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MovimientoEmpleadoKaizen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumEmpleado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdRequisicionMovimiento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MovimientoEmpleadoKaizenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MovimientoEmpleadoKaizenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>